<form [formGroup]="formulario" (ngSubmit)="enviar()">
  <ion-item>
    <ion-input label="Título" labelPlacement="floating" formControlName="titulo"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="tituloControl?.touched && tituloControl?.hasError('required')">El título es obligatorio.</ion-note>
  <ion-note color="danger" *ngIf="tituloControl?.touched && tituloControl?.hasError('minlength')">El título debe tener al menos 5 caracteres.</ion-note>

  <ion-item>
    <ion-textarea label="Descripción" labelPlacement="floating" autoGrow="true" formControlName="descripcion"></ion-textarea>
  </ion-item>
  <ion-note color="danger" *ngIf="descripcionControl?.touched && descripcionControl?.hasError('required')">La descripción es obligatoria.</ion-note>
  <ion-note color="danger" *ngIf="descripcionControl?.touched && descripcionControl?.hasError('minlength')">La descripción debe tener al menos 20 caracteres.</ion-note>

  <ion-button expand="block" class="photo-button" type="button" (click)="tomarFoto()">
    <img src="assets/icons/camera-add.svg" alt="Tomar fotografía" class="form-icon" slot="start" />
    Tomar fotografía
  </ion-button>

  <img *ngIf="fotoPreview" [src]="fotoPreview" alt="Foto capturada" class="preview-image" />

  <ion-button expand="block" type="submit" class="ion-margin-top save-button">
    <img src="assets/icons/save-floppy.svg" alt="Guardar aviso" class="form-icon" slot="start" />
    {{ avisoEditar ? 'Guardar cambios' : 'Guardar aviso' }}
  </ion-button>
</form>
